/* Style Unique pour tout le site*/
body {
    font-family:"Arial Narrow";
    color: azure;
    background: center no-repeat url("../images/fond.jpg");
}
h1 {
     color:gray;
    text-align: center;
    border: 1px solid white;
}
p {
    color: black;
}
h2,h3 {
    color: brown;

}
ol{
    color: red;
}
ul{
    color: orangered;
}
/*identifiant*/
#trailer {
    text-transform: uppercase;
    color:dodgerblue;
}
