body {
    max-width: 1000px;
    margin: 0 auto;
    font: 1.0em Arial, Helvetica, sans-serif
}
h1{
    text-align: center;
    border: 5px solid olivedrab;
}
.box {
    width: 20%;
	border: 2px solid darkblue;
    padding-left: 12px;
    float: left;

}
.box2 {
  border: 2px solid red;
    padding-left: 2%;
    width: 76%;
    float: left;

}

img {
    width: 78%;
    height: 416px;
    float: left;
    border: 2px solid black;
    text-align: center;
}

.p{
    float: left;
}



